@import url("https://fonts.googleapis.com/css2?family=Afacad&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

/* my fonts */
.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

.jumbotron h1 {
  font-family: "Kaushan Script", cursive;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

section h2 {
  font-family: "Roboto Slab", serif;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

